.myQuotation {
  width: 60%;
  margin: 20px;
}

.quotes,
.authorQuotes {
  text-align: left;
  font-style: italic;
  color: #575656;
}

.my-author {
  font-weight: 700;
}

.images {
  width: 25px;
}

.error {
  color: red;
}
