nav {
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background: #f5913e;
  justify-content: space-between;
}

h1 {
  margin-left: 30px;
  font-family: 'Alkatra', cursive;
  color: #fff;
  text-transform: capitalize;
  user-select: none;
}

.link-holder,
.links {
  display: inline-block;
}

.links,
link {
  margin-right: 30px;
}
